@{
    ViewData["Title"] = "Welcome!";
}
<div class="text-center">
    <h3 class="display-5">Welcome to SocialMedia!</h3>
</div>
<hr />
<div class="text-center">
    <a class="btn btn-primary" type="submit" asp-area="" asp-controller="Users" asp-action="Create">Join The Fun!</a>
</div>
<hr />
<div class="text-center">
    <h3 class="display-7">Or If you are an Admin..</h3>

    <div>
        <a class="btn btn-primary" type="submit" asp-area="" asp-controller="Admins" asp-action="Login">Login</a>
    </div>

</div>
